@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.profileCard{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.centerMargin{
    margin-left: auto;
    margin-right: auto;
}
.nameHeader{
    font-family: 'Alegreya';
    font-size: 2rem;
}

.profileImgDiv{
    width: 80vw;

}
.profileImg{
    width: 80vw;
    border-radius: 10%;
}

.bio{
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
    font-family: "Merriweather";
    border: none;
}

.tagRow{
    width: 70vw;
}

.tagCol{
    width: 25vw;
}

.swipeButtons{
    z-index: 12;
    margin-right: auto;
    margin-left: auto;
   
}
.swipBtnSpacer{
    margin: 22vw;
}

.swipeBtn{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F6C6EA;
    border: none;
}

.dislikeBtn:hover{
    background-color: #B93160;
}

.heartBtn:hover{
    background-color: #FFF89C;
}


.location{
    width: 35vw;
    margin-bottom: 5vh;
}
.locationTxt{
    font-family: "Merriweather";

}