@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.profileCard{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.centerMargin{
    margin-left: auto;
    margin-right: auto;
}
.nameHeader{
    font-family: 'Alegreya';
    font-size: 2rem;
}

.profileImgMoreInfo{
    width: 80vw;
    border-radius: 10%;
}

.bio{
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
    font-family: "Merriweather";
    border: none;
}

.tagRow{
    width: 70vw;
}

.tagCol{
    width: 25vw;
}




.location{
    width: 35vw;
    margin-bottom: 5vh;
}
.locationTxt{
    font-family: "Merriweather";

}
.swipeBtnMI{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F6C6EA;
    border: none;
}

.swipeButtons2{
    width: 90vw;
    margin-top: 30px;
    margin-bottom: 30vh;
}