@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.profileCard{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.centerMargin{
    margin-left: auto;
    margin-right: auto;
}
.nameHeader{
    font-family: 'Alegreya';
    font-size: 2rem;
}



.bio{
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
    font-family: "Merriweather";
    border: none;
}

.tagRow{
    width: 70vw;
}

.tagCol{
    width: 25vw;
}




.location{
    width: 35vw;
    margin-bottom: 5vh;
}
.locationTxt{
    font-family: "Merriweather";

}